body {
  background-color: rgb(2, 2, 2);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: orange;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  width: 100%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  color: green;
}

a:active {
  color: blue;
}


@media only screen and (max-width: 500px) {
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}


.menu ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

.menu li {
  padding: 7px;
  margin-bottom: 7px;
  background-color: #00FFFF;
  color: #4B0082;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: orange;
  box-shadow: 0px 0px 115px -6px rgba(15, 24, 61, 1);
}



.footer {
  background-color: #100c08;
  background-image: linear-gradient(black, #b80707);
  color: #ffffff;
  padding: 5px;
  margin: 0px;
  bottom: 0px;
  width: 100%;
  height: auto;
  text-align: center;
}

.aside {
  background-color: none;
  right: 0px;
  padding: 5px;
  width: auto;
}

/*table styling*/

#students {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* form styling*/
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



/* box and other*/

ft {
  background: darkcyan;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.tbox {
  text-align: center;
  color: fuchsia;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  position: block;
}



.boxb {
  background: yellow;
  width: 300px;
  height: 100px;
  color: #681168;
  position: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}


.boxc {
  background: yellowgreen;
  width: 300px;
  height: 100px;
  color: darkred;
  position: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.mycontainer {

  display: flex;
  justify-content: space-around;
  margin-top: 100px;

}

.box {
  display: flex;
  justify-content: center;
  background-color: #4CAF50;
  font-size: 18px;
  color: white;
  border-color: #00FFFF;
  box-shadow: 0px 30px 60px 0px #c5cf0846; 
  width: 20%;
  text-align: center;
  height: 200px;
}

.button{
  color: white;
  background-color: #4CAF50;
  border: none;
  font-size: 18px;
  cursor:pointer;
}
.form-container {
  display: none;
  margin-top: 20px;
}